{%  extends "base.html" %}


{% block content %}





<body>
    <div class="panel panel-default">
     <div class="panel-body">
        <h2>A brief overview of the author</h2>
     </div>

    <div class="main_section" style="margin: 10px;">
        <div class="ballet_pic">
            <img src="https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/314192_113382128797895_54158692_n.jpg?oh=8b6e54b3de5576154dbc425ac2b75be3&oe=58719EE1" height="400px" width="330px">
        </div>

        <div class="bio_text" style="width: 620px;">
            <p>Born in the Niagara region of Western New York State. Moved to the Upstate of South Carolina in pursuit of the dream of business ownership. Solid family man with a deep appreciation of the handwork and craftsmanship of hand made pipes.</p>
            <p>Pipes are a fond memory of my childhood drawing me back to times when my father would be relaxing on his day off from the factory and smoke an incredible old english Barling pipe that was handed down to him from his father. As a child the view of my relaxed father and the pleasurable aroma of some rum or cherry aromatic tobacco he was smoking was heavily ingrained in me.</p>
            <p>My own introduction to artisan pipes was at a time in my life when disposable income was plentiful and I was visiting a local tobacconist buying cigars, as I walked around the shop I noticed the fantastic assortment of pipes, and was shocked. This began a long journey into the appreciation of the pipe as a handicraft piece of functional art.</p>
        </div>
        <div class="panel-footer" style="background-color:lightblue;">
            <h6>Please check back for new content.</h6>
        </div>
    </div>
</div>

</body>



{% endblock %}
