{%  extends "base.html" %}



    {% block content %}
    <br>
    <br>
      <div class="container">
        <img src="https://c647068.ssl.cf2.rackcdn.com/products/002-376-0186.jpg">
        <h2>Home of the definitive page on collecting briar pipes</h2>
        <h4>You'll find in the details page a library of pipe shape and manufactures</h4>
        <h4>You can also learn a little bit about me and my interest in pipes on the about page</h4>
        <h4>Thank you for looking around and hope you begin to share my interest</h4>
      </div>
    {% endblock %}
